<main
  style="height: 100vh"
  class="d-flex justify-content-center align-items-center"
>
  <mat-card class="container-sm d-flex align-items-center flex-column">
    <mat-card-title>TESTE PEAK INVEST</mat-card-title>
    <mat-card-content class="p-5">
      <section class="d-flex flex-column">
        <p class="text-center">
          Montar uma aplicação básica com duas camadas: front-end em angular e o
          back-end deve ser uma API em .NET C#.
        </p>
        <div class="d-flex mt-4 gap-3 mx-auto w-full">
          <a mat-raised-button routerLink="/edit">Cadastro</a>
          <a mat-raised-button routerLink="/list">Consulta</a>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</main>
